@import '../style/header.css';
@import '../style/home_page_content.css';
@import '../style/footer.css';
@import '../style/post_page_content.css';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 1px solid yellowgreen; */
}

html,
body {
	width: 100%;
}

.wrapper-container {
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'header '
		'content'
		'footer ';
	gap: 200px;
}

.header-wrapper {
	grid-area: header;
	height: 220px;
}
.content-wrapper,
.posts-page-content {
	grid-area: content;
}

.footer-wrapper {
	grid-area: footer;
}
.header-content,
.footer-content,
.body-contents {
	width: 100%;
	height: 100%;
}

.social-media-fixed-sidebar {
	position: fixed;
	z-index: 10 !important;
	top: 350px;
	right: 0;
	font-size: 25px;
}

.social-media-fixed-sidebar ul li {
	list-style: none;
	padding: 0 10px 2px 0;
	color: red;
}
.social-media-fixed-sidebar ul li a {
	color: #483802;
}
.social-media-fixed-sidebar ul li a:hover {
	color: #655a1f68;
}
