.content-posts-page {
	width: 100%;
	height: 100%;
	display: grid;
	/* justify-items: center; */
}

.content-posts-page * {
	width: 100%;
	text-align: center;
}

.artical-title {
	font-family: var(--logo-Caption-font);
	font-size: 47px;
}
.content-header {
	border: 1px solid var(--golden);
}
